<div class="row">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
        <p class="text-center text-muted">&copy; 2022 MINFI/SG/DGB/DDPP - Tous droits réservés !</p>
    </footer>
</div>